<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SingularMove">
<meta name="twitter:creator" content="Dave Pratt, DPT, OCS, CSCS">
<meta name="twitter:title" content="Singular Movement">
<meta name="twitter:description" content="Strength and Conditioning App">
<meta name="twitter:image" content="https://imagedelivery.net/68SN6RDwKYb315QTtTsC9w/2bc71ff3-6cc5-44dc-1954-31a921342f00/public">
<meta name="twitter:url" content="https://movementapplication.com/">
